# =========================
# DEPENDENCIAS
# =========================
node_modules/

# =========================
# EXPO
# =========================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# =========================
# BUILD
# =========================
build/
coverage/

# =========================
# METRO
# =========================
.metro-health-check*

# =========================
# ANDROID / IOS
# =========================
android/
ios/
.kotlin/

# =========================
# CERTIFICADOS / CLAVES
# =========================
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# =========================
# DEBUG
# =========================
npm-debug.*
yarn-debug.*
yarn-error.*

# =========================
# SISTEMA
# =========================
.DS_Store

# =========================
# ENV
# =========================
.env
.env.*
.env*.local

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo